<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="test.mapper.Highchart7Mapper.xml" >
	<select id="highchart7" resultType="Highchart7">
		 select to_char(rvw_input_date,'YYYY') yeardate, to_char(rvw_input_date,'Q') quater, 
		 sum(rvw_hygiene) hygiene, sum(rvw_comfort) comfort, SUM(rvw_technique) technique, SUM(rvw_PRICE) price, SUM(rvw_SERVICE) service from
		 review
	     where Etp_num = 99<!-- #{etp_num}으로 고치기 -->
	     group by to_char(rvw_input_date,'YYYY'), to_char(rvw_input_date,'Q')
	     order by to_char(rvw_input_date,'YYYY'), to_char(rvw_input_date,'Q')
			
	</select>
</mapper>
