<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.ComponentMapper" >

  <resultMap id="BaseResultMap" type="model.vo.Component" >
    <id column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <id column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="LOGO" property="logoComponent" jdbcType="DECIMAL" />
    <result column="LOGO_THEME" property="logoTheme" jdbcType="DECIMAL" />
    <result column="LOGO_SIZE_X" property="logoSizeX" jdbcType="DECIMAL" />
    <result column="LOGO_SIZE_Y" property="logoSizeY" jdbcType="DECIMAL" />
    <result column="LOGO_POS_X" property="logoPosX" jdbcType="DECIMAL" />
    <result column="LOGO_POS_Y" property="logoPosY" jdbcType="DECIMAL" />
    <result column="OUTLINE" property="outlineComponenet" jdbcType="DECIMAL" />
    <result column="OUTLINE_THEME" property="outlineTheme" jdbcType="DECIMAL" />
    <result column="OUTLINE_SIZE_X" property="outlineSizeX" jdbcType="DECIMAL" />
    <result column="OUTLINE_SIZE_Y" property="outlineSizeY" jdbcType="DECIMAL" />
    <result column="OUTLINE_POS_X" property="outlinePosX" jdbcType="DECIMAL" />
    <result column="OUTLINE_POS_Y" property="outlinePosY" jdbcType="DECIMAL" />
    <result column="RSV_MGM" property="rsvMgmComponent" jdbcType="DECIMAL" />
    <result column="RSV_MGM_THEME" property="rsvMgmTheme" jdbcType="DECIMAL" />
    <result column="RSV_MGM_SIZE_X" property="rsvMgmSizeX" jdbcType="DECIMAL" />
    <result column="RSV_MGM_SIZE_Y" property="rsvMgmSizeY" jdbcType="DECIMAL" />
    <result column="RSV_MGM_POS_X" property="rsvMgmPosX" jdbcType="DECIMAL" />
    <result column="RSV_MGM_POS_Y" property="rsvMgmPosY" jdbcType="DECIMAL" />
    <result column="MISC_SETTING" property="miscSettingComponent" jdbcType="DECIMAL" />
    <result column="MISC_SETTING_THEME" property="miscSettingTheme" jdbcType="DECIMAL" />
    <result column="MISC_SETTING_SIZE_X" property="miscSettingSizeX" jdbcType="DECIMAL" />
    <result column="MISC_SETTING_SIZE_Y" property="miscSettingSizeY" jdbcType="DECIMAL" />
    <result column="MISC_SETTING_POS_X" property="miscSettingPosX" jdbcType="DECIMAL" />
    <result column="MISC_SETTING_POS_Y" property="miscSettingPosY" jdbcType="DECIMAL" />
    <result column="RSV_BTN_BAR" property="rsvBtnBarComponent" jdbcType="DECIMAL" />
    <result column="RSV_BTN_BAR_THEME" property="rsvBtnBarTheme" jdbcType="DECIMAL" />
    <result column="RSV_BTN_BAR_SIZE_X" property="rsvBtnBarSizeX" jdbcType="DECIMAL" />
    <result column="RSV_BTN_BAR_SIZE_Y" property="rsvBtnBarSizeY" jdbcType="DECIMAL" />
    <result column="RSV_BTN_BAR_POS_X" property="rsvBtnBarPosX" jdbcType="DECIMAL" />
    <result column="RSV_BTN_BAR_POS_Y" property="rsvBtnBarPosY" jdbcType="DECIMAL" />
    <result column="ETP_INFO" property="etpInfoComponent" jdbcType="DECIMAL" />
    <result column="ETP_INFO_THEME" property="etpInfoTheme" jdbcType="DECIMAL" />
    <result column="ETP_INFO_SIZE_X" property="etpInfoSizeX" jdbcType="DECIMAL" />
    <result column="ETP_INFO_SIZE_Y" property="etpInfoSizeY" jdbcType="DECIMAL" />
    <result column="ETP_INFO_POS_X" property="etpInfoPosX" jdbcType="DECIMAL" />
    <result column="ETP_INFO_POS_Y" property="etpInfoPosY" jdbcType="DECIMAL" />
    <result column="SVC_LIST" property="svcListComponent" jdbcType="DECIMAL" />
    <result column="SVC_LIST_THEME" property="svcListTheme" jdbcType="DECIMAL" />
    <result column="SVC_LIST_SIZE_X" property="svcListSizeX" jdbcType="DECIMAL" />
    <result column="SVC_LIST_SIZE_Y" property="svcListSizeY" jdbcType="DECIMAL" />
    <result column="SVC_LIST_POS_X" property="svcListPosX" jdbcType="DECIMAL" />
    <result column="SVC_LIST_POS_Y" property="svcListPosY" jdbcType="DECIMAL" />
    <result column="GALLERY" property="galleryComponent" jdbcType="DECIMAL" />
    <result column="GALLERY_THEME" property="galleryTheme" jdbcType="DECIMAL" />
    <result column="GALLERY_SIZE_X" property="gallerySizeX" jdbcType="DECIMAL" />
    <result column="GALLERY_SIZE_Y" property="gallerySizeY" jdbcType="DECIMAL" />
    <result column="GALLERY_POS_X" property="galleryPosX" jdbcType="DECIMAL" />
    <result column="GALLERY_POS_Y" property="galleryPosY" jdbcType="DECIMAL" />
    <result column="LOCATION" property="locationComponent" jdbcType="DECIMAL" />
    <result column="LOCATION_THEME" property="locationTheme" jdbcType="DECIMAL" />
    <result column="LOCATION_SIZE_X" property="locationSizeX" jdbcType="DECIMAL" />
    <result column="LOCATION_SIZE_Y" property="locationSizeY" jdbcType="DECIMAL" />
    <result column="LOCATION_POS_X" property="locationPosX" jdbcType="DECIMAL" />
    <result column="LOCATION_POS_Y" property="locationPosY" jdbcType="DECIMAL" />
    <result column="REVIEW" property="reviewComponent" jdbcType="DECIMAL" />
    <result column="REVIEW_THEME" property="reviewTheme" jdbcType="DECIMAL" />
    <result column="REVIEW_SIZE_X" property="reviewSizeX" jdbcType="DECIMAL" />
    <result column="REVIEW_SIZE_Y" property="reviewSizeY" jdbcType="DECIMAL" />
    <result column="REVIEW_POS_X" property="reviewPosX" jdbcType="DECIMAL" />
    <result column="REVIEW_POS_Y" property="reviewPosY" jdbcType="DECIMAL" />
    <result column="BACKGROUND_THEME" property="backgroundTheme" jdbcType="DECIMAL" />
  </resultMap>
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  
  <sql id="Base_Column_List" >
    ETP_NUM, ETP_EMAIL, LOGO, LOGO_THEME, LOGO_SIZE_X, LOGO_SIZE_Y, LOGO_POS_X, LOGO_POS_Y, 
    OUTLINE, OUTLINE_THEME, OUTLINE_SIZE_X, OUTLINE_SIZE_Y, OUTLINE_POS_X, OUTLINE_POS_Y, 
    RSV_MGM, RSV_MGM_THEME, RSV_MGM_SIZE_X, RSV_MGM_SIZE_Y, RSV_MGM_POS_X, RSV_MGM_POS_Y, 
    MISC_SETTING, MISC_SETTING_THEME, MISC_SETTING_SIZE_X, MISC_SETTING_SIZE_Y, MISC_SETTING_POS_X, 
    MISC_SETTING_POS_Y, RSV_BTN_BAR, RSV_BTN_BAR_THEME, RSV_BTN_BAR_SIZE_X, RSV_BTN_BAR_SIZE_Y, 
    RSV_BTN_BAR_POS_X, RSV_BTN_BAR_POS_Y, ETP_INFO, ETP_INFO_THEME, ETP_INFO_SIZE_X, 
    ETP_INFO_SIZE_Y, ETP_INFO_POS_X, ETP_INFO_POS_Y, SVC_LIST, SVC_LIST_THEME, SVC_LIST_SIZE_X, 
    SVC_LIST_SIZE_Y, SVC_LIST_POS_X, SVC_LIST_POS_Y, GALLERY, GALLERY_THEME, GALLERY_SIZE_X, 
    GALLERY_SIZE_Y, GALLERY_POS_X, GALLERY_POS_Y, LOCATION, LOCATION_THEME, LOCATION_SIZE_X, 
    LOCATION_SIZE_Y, LOCATION_POS_X, LOCATION_POS_Y, REVIEW, REVIEW_THEME, REVIEW_SIZE_X, 
    REVIEW_SIZE_Y, REVIEW_POS_X, REVIEW_POS_Y, BACKGROUND_THEME
  </sql>
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.vo.ComponentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.COMPONENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="model.vo.Component" >
    select 
    <include refid="Base_Column_List" />
    from HR.COMPONENT
    where ETP_NUM = #{etpNum,jdbcType=VARCHAR}
      and ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="model.vo.Component" >
    delete from HR.COMPONENT
    where ETP_NUM = #{etpNum,jdbcType=VARCHAR}
      and ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR}
  </delete>
  
  
  <delete id="deleteByExample" parameterType="model.vo.ComponentExample" >
    delete from HR.COMPONENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  
  <insert id="insert" parameterType="model.vo.Component" >
    insert into HR.COMPONENT (ETP_NUM, ETP_EMAIL, LOGO, 
      LOGO_THEME, LOGO_SIZE_X, LOGO_SIZE_Y, 
      LOGO_POS_X, LOGO_POS_Y, OUTLINE, 
      OUTLINE_THEME, OUTLINE_SIZE_X, OUTLINE_SIZE_Y, 
      OUTLINE_POS_X, OUTLINE_POS_Y, RSV_MGM, 
      RSV_MGM_THEME, RSV_MGM_SIZE_X, RSV_MGM_SIZE_Y, 
      RSV_MGM_POS_X, RSV_MGM_POS_Y, MISC_SETTING, 
      MISC_SETTING_THEME, MISC_SETTING_SIZE_X, MISC_SETTING_SIZE_Y, 
      MISC_SETTING_POS_X, MISC_SETTING_POS_Y, RSV_BTN_BAR, 
      RSV_BTN_BAR_THEME, RSV_BTN_BAR_SIZE_X, RSV_BTN_BAR_SIZE_Y, 
      RSV_BTN_BAR_POS_X, RSV_BTN_BAR_POS_Y, ETP_INFO, 
      ETP_INFO_THEME, ETP_INFO_SIZE_X, ETP_INFO_SIZE_Y, 
      ETP_INFO_POS_X, ETP_INFO_POS_Y, SVC_LIST, 
      SVC_LIST_THEME, SVC_LIST_SIZE_X, SVC_LIST_SIZE_Y, 
      SVC_LIST_POS_X, SVC_LIST_POS_Y, GALLERY, 
      GALLERY_THEME, GALLERY_SIZE_X, GALLERY_SIZE_Y, 
      GALLERY_POS_X, GALLERY_POS_Y, LOCATION, 
      LOCATION_THEME, LOCATION_SIZE_X, LOCATION_SIZE_Y, 
      LOCATION_POS_X, LOCATION_POS_Y, REVIEW, 
      REVIEW_THEME, REVIEW_SIZE_X, REVIEW_SIZE_Y, 
      REVIEW_POS_X, REVIEW_POS_Y, BACKGROUND_THEME
      )
    values (#{etpNum,jdbcType=VARCHAR}, #{etpEmail,jdbcType=VARCHAR}, #{logoComponent,jdbcType=DECIMAL}, 
      #{logoTheme,jdbcType=DECIMAL}, #{logoSizeX,jdbcType=DECIMAL}, #{logoSizeY,jdbcType=DECIMAL}, 
      #{logoPosX,jdbcType=DECIMAL}, #{logoPosY,jdbcType=DECIMAL}, #{outlineComponenet,jdbcType=DECIMAL}, 
      #{outlineTheme,jdbcType=DECIMAL}, #{outlineSizeX,jdbcType=DECIMAL}, #{outlineSizeY,jdbcType=DECIMAL}, 
      #{outlinePosX,jdbcType=DECIMAL}, #{outlinePosY,jdbcType=DECIMAL}, #{rsvMgmComponent,jdbcType=DECIMAL}, 
      #{rsvMgmTheme,jdbcType=DECIMAL}, #{rsvMgmSizeX,jdbcType=DECIMAL}, #{rsvMgmSizeY,jdbcType=DECIMAL}, 
      #{rsvMgmPosX,jdbcType=DECIMAL}, #{rsvMgmPosY,jdbcType=DECIMAL}, #{miscSettingComponent,jdbcType=DECIMAL}, 
      #{miscSettingTheme,jdbcType=DECIMAL}, #{miscSettingSizeX,jdbcType=DECIMAL}, #{miscSettingSizeY,jdbcType=DECIMAL}, 
      #{miscSettingPosX,jdbcType=DECIMAL}, #{miscSettingPosY,jdbcType=DECIMAL}, #{rsvBtnBarComponent,jdbcType=DECIMAL}, 
      #{rsvBtnBarTheme,jdbcType=DECIMAL}, #{rsvBtnBarSizeX,jdbcType=DECIMAL}, #{rsvBtnBarSizeY,jdbcType=DECIMAL}, 
      #{rsvBtnBarPosX,jdbcType=DECIMAL}, #{rsvBtnBarPosY,jdbcType=DECIMAL}, #{etpInfoComponent,jdbcType=DECIMAL}, 
      #{etpInfoTheme,jdbcType=DECIMAL}, #{etpInfoSizeX,jdbcType=DECIMAL}, #{etpInfoSizeY,jdbcType=DECIMAL}, 
      #{etpInfoPosX,jdbcType=DECIMAL}, #{etpInfoPosY,jdbcType=DECIMAL}, #{svcListComponent,jdbcType=DECIMAL}, 
      #{svcListTheme,jdbcType=DECIMAL}, #{svcListSizeX,jdbcType=DECIMAL}, #{svcListSizeY,jdbcType=DECIMAL}, 
      #{svcListPosX,jdbcType=DECIMAL}, #{svcListPosY,jdbcType=DECIMAL}, #{galleryComponent,jdbcType=DECIMAL}, 
      #{galleryTheme,jdbcType=DECIMAL}, #{gallerySizeX,jdbcType=DECIMAL}, #{gallerySizeY,jdbcType=DECIMAL}, 
      #{galleryPosX,jdbcType=DECIMAL}, #{galleryPosY,jdbcType=DECIMAL}, #{locationComponent,jdbcType=DECIMAL}, 
      #{locationTheme,jdbcType=DECIMAL}, #{locationSizeX,jdbcType=DECIMAL}, #{locationSizeY,jdbcType=DECIMAL}, 
      #{locationPosX,jdbcType=DECIMAL}, #{locationPosY,jdbcType=DECIMAL}, #{reviewComponent,jdbcType=DECIMAL}, 
      #{reviewTheme,jdbcType=DECIMAL}, #{reviewSizeX,jdbcType=DECIMAL}, #{reviewSizeY,jdbcType=DECIMAL}, 
      #{reviewPosX,jdbcType=DECIMAL}, #{reviewPosY,jdbcType=DECIMAL}, #{backgroundTheme,jdbcType=DECIMAL}
      )
  </insert>
  
  
  <insert id="insertSelective" parameterType="model.vo.Component" >
    insert into HR.COMPONENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="etpNum != null" >
        ETP_NUM,
      </if>
      <if test="etpEmail != null" >
        ETP_EMAIL,
      </if>
      <if test="logoComponent != null" >
        LOGO,
      </if>
      <if test="logoTheme != null" >
        LOGO_THEME,
      </if>
      <if test="logoSizeX != null" >
        LOGO_SIZE_X,
      </if>
      <if test="logoSizeY != null" >
        LOGO_SIZE_Y,
      </if>
      <if test="logoPosX != null" >
        LOGO_POS_X,
      </if>
      <if test="logoPosY != null" >
        LOGO_POS_Y,
      </if>
      <if test="outlineComponenet != null" >
        OUTLINE,
      </if>
      <if test="outlineTheme != null" >
        OUTLINE_THEME,
      </if>
      <if test="outlineSizeX != null" >
        OUTLINE_SIZE_X,
      </if>
      <if test="outlineSizeY != null" >
        OUTLINE_SIZE_Y,
      </if>
      <if test="outlinePosX != null" >
        OUTLINE_POS_X,
      </if>
      <if test="outlinePosY != null" >
        OUTLINE_POS_Y,
      </if>
      <if test="rsvMgmComponent != null" >
        RSV_MGM,
      </if>
      <if test="rsvMgmTheme != null" >
        RSV_MGM_THEME,
      </if>
      <if test="rsvMgmSizeX != null" >
        RSV_MGM_SIZE_X,
      </if>
      <if test="rsvMgmSizeY != null" >
        RSV_MGM_SIZE_Y,
      </if>
      <if test="rsvMgmPosX != null" >
        RSV_MGM_POS_X,
      </if>
      <if test="rsvMgmPosY != null" >
        RSV_MGM_POS_Y,
      </if>
      <if test="miscSettingComponent != null" >
        MISC_SETTING,
      </if>
      <if test="miscSettingTheme != null" >
        MISC_SETTING_THEME,
      </if>
      <if test="miscSettingSizeX != null" >
        MISC_SETTING_SIZE_X,
      </if>
      <if test="miscSettingSizeY != null" >
        MISC_SETTING_SIZE_Y,
      </if>
      <if test="miscSettingPosX != null" >
        MISC_SETTING_POS_X,
      </if>
      <if test="miscSettingPosY != null" >
        MISC_SETTING_POS_Y,
      </if>
      <if test="rsvBtnBarComponent != null" >
        RSV_BTN_BAR,
      </if>
      <if test="rsvBtnBarTheme != null" >
        RSV_BTN_BAR_THEME,
      </if>
      <if test="rsvBtnBarSizeX != null" >
        RSV_BTN_BAR_SIZE_X,
      </if>
      <if test="rsvBtnBarSizeY != null" >
        RSV_BTN_BAR_SIZE_Y,
      </if>
      <if test="rsvBtnBarPosX != null" >
        RSV_BTN_BAR_POS_X,
      </if>
      <if test="rsvBtnBarPosY != null" >
        RSV_BTN_BAR_POS_Y,
      </if>
      <if test="etpInfoComponent != null" >
        ETP_INFO,
      </if>
      <if test="etpInfoTheme != null" >
        ETP_INFO_THEME,
      </if>
      <if test="etpInfoSizeX != null" >
        ETP_INFO_SIZE_X,
      </if>
      <if test="etpInfoSizeY != null" >
        ETP_INFO_SIZE_Y,
      </if>
      <if test="etpInfoPosX != null" >
        ETP_INFO_POS_X,
      </if>
      <if test="etpInfoPosY != null" >
        ETP_INFO_POS_Y,
      </if>
      <if test="svcListComponent != null" >
        SVC_LIST,
      </if>
      <if test="svcListTheme != null" >
        SVC_LIST_THEME,
      </if>
      <if test="svcListSizeX != null" >
        SVC_LIST_SIZE_X,
      </if>
      <if test="svcListSizeY != null" >
        SVC_LIST_SIZE_Y,
      </if>
      <if test="svcListPosX != null" >
        SVC_LIST_POS_X,
      </if>
      <if test="svcListPosY != null" >
        SVC_LIST_POS_Y,
      </if>
      <if test="galleryComponent != null" >
        GALLERY,
      </if>
      <if test="galleryTheme != null" >
        GALLERY_THEME,
      </if>
      <if test="gallerySizeX != null" >
        GALLERY_SIZE_X,
      </if>
      <if test="gallerySizeY != null" >
        GALLERY_SIZE_Y,
      </if>
      <if test="galleryPosX != null" >
        GALLERY_POS_X,
      </if>
      <if test="galleryPosY != null" >
        GALLERY_POS_Y,
      </if>
      <if test="locationComponent != null" >
        LOCATION,
      </if>
      <if test="locationTheme != null" >
        LOCATION_THEME,
      </if>
      <if test="locationSizeX != null" >
        LOCATION_SIZE_X,
      </if>
      <if test="locationSizeY != null" >
        LOCATION_SIZE_Y,
      </if>
      <if test="locationPosX != null" >
        LOCATION_POS_X,
      </if>
      <if test="locationPosY != null" >
        LOCATION_POS_Y,
      </if>
      <if test="reviewComponent != null" >
        REVIEW,
      </if>
      <if test="reviewTheme != null" >
        REVIEW_THEME,
      </if>
      <if test="reviewSizeX != null" >
        REVIEW_SIZE_X,
      </if>
      <if test="reviewSizeY != null" >
        REVIEW_SIZE_Y,
      </if>
      <if test="reviewPosX != null" >
        REVIEW_POS_X,
      </if>
      <if test="reviewPosY != null" >
        REVIEW_POS_Y,
      </if>
      <if test="backgroundTheme != null" >
        BACKGROUND_THEME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="etpNum != null" >
        #{etpNum,jdbcType=VARCHAR},
      </if>
      <if test="etpEmail != null" >
        #{etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="logoComponent != null" >
        #{logoComponent,jdbcType=DECIMAL},
      </if>
      <if test="logoTheme != null" >
        #{logoTheme,jdbcType=DECIMAL},
      </if>
      <if test="logoSizeX != null" >
        #{logoSizeX,jdbcType=DECIMAL},
      </if>
      <if test="logoSizeY != null" >
        #{logoSizeY,jdbcType=DECIMAL},
      </if>
      <if test="logoPosX != null" >
        #{logoPosX,jdbcType=DECIMAL},
      </if>
      <if test="logoPosY != null" >
        #{logoPosY,jdbcType=DECIMAL},
      </if>
      <if test="outlineComponenet != null" >
        #{outlineComponenet,jdbcType=DECIMAL},
      </if>
      <if test="outlineTheme != null" >
        #{outlineTheme,jdbcType=DECIMAL},
      </if>
      <if test="outlineSizeX != null" >
        #{outlineSizeX,jdbcType=DECIMAL},
      </if>
      <if test="outlineSizeY != null" >
        #{outlineSizeY,jdbcType=DECIMAL},
      </if>
      <if test="outlinePosX != null" >
        #{outlinePosX,jdbcType=DECIMAL},
      </if>
      <if test="outlinePosY != null" >
        #{outlinePosY,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmComponent != null" >
        #{rsvMgmComponent,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmTheme != null" >
        #{rsvMgmTheme,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmSizeX != null" >
        #{rsvMgmSizeX,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmSizeY != null" >
        #{rsvMgmSizeY,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmPosX != null" >
        #{rsvMgmPosX,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmPosY != null" >
        #{rsvMgmPosY,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingComponent != null" >
        #{miscSettingComponent,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingTheme != null" >
        #{miscSettingTheme,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingSizeX != null" >
        #{miscSettingSizeX,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingSizeY != null" >
        #{miscSettingSizeY,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingPosX != null" >
        #{miscSettingPosX,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingPosY != null" >
        #{miscSettingPosY,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarComponent != null" >
        #{rsvBtnBarComponent,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarTheme != null" >
        #{rsvBtnBarTheme,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarSizeX != null" >
        #{rsvBtnBarSizeX,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarSizeY != null" >
        #{rsvBtnBarSizeY,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarPosX != null" >
        #{rsvBtnBarPosX,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarPosY != null" >
        #{rsvBtnBarPosY,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoComponent != null" >
        #{etpInfoComponent,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoTheme != null" >
        #{etpInfoTheme,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoSizeX != null" >
        #{etpInfoSizeX,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoSizeY != null" >
        #{etpInfoSizeY,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoPosX != null" >
        #{etpInfoPosX,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoPosY != null" >
        #{etpInfoPosY,jdbcType=DECIMAL},
      </if>
      <if test="svcListComponent != null" >
        #{svcListComponent,jdbcType=DECIMAL},
      </if>
      <if test="svcListTheme != null" >
        #{svcListTheme,jdbcType=DECIMAL},
      </if>
      <if test="svcListSizeX != null" >
        #{svcListSizeX,jdbcType=DECIMAL},
      </if>
      <if test="svcListSizeY != null" >
        #{svcListSizeY,jdbcType=DECIMAL},
      </if>
      <if test="svcListPosX != null" >
        #{svcListPosX,jdbcType=DECIMAL},
      </if>
      <if test="svcListPosY != null" >
        #{svcListPosY,jdbcType=DECIMAL},
      </if>
      <if test="galleryComponent != null" >
        #{galleryComponent,jdbcType=DECIMAL},
      </if>
      <if test="galleryTheme != null" >
        #{galleryTheme,jdbcType=DECIMAL},
      </if>
      <if test="gallerySizeX != null" >
        #{gallerySizeX,jdbcType=DECIMAL},
      </if>
      <if test="gallerySizeY != null" >
        #{gallerySizeY,jdbcType=DECIMAL},
      </if>
      <if test="galleryPosX != null" >
        #{galleryPosX,jdbcType=DECIMAL},
      </if>
      <if test="galleryPosY != null" >
        #{galleryPosY,jdbcType=DECIMAL},
      </if>
      <if test="locationComponent != null" >
        #{locationComponent,jdbcType=DECIMAL},
      </if>
      <if test="locationTheme != null" >
        #{locationTheme,jdbcType=DECIMAL},
      </if>
      <if test="locationSizeX != null" >
        #{locationSizeX,jdbcType=DECIMAL},
      </if>
      <if test="locationSizeY != null" >
        #{locationSizeY,jdbcType=DECIMAL},
      </if>
      <if test="locationPosX != null" >
        #{locationPosX,jdbcType=DECIMAL},
      </if>
      <if test="locationPosY != null" >
        #{locationPosY,jdbcType=DECIMAL},
      </if>
      <if test="reviewComponent != null" >
        #{reviewComponent,jdbcType=DECIMAL},
      </if>
      <if test="reviewTheme != null" >
        #{reviewTheme,jdbcType=DECIMAL},
      </if>
      <if test="reviewSizeX != null" >
        #{reviewSizeX,jdbcType=DECIMAL},
      </if>
      <if test="reviewSizeY != null" >
        #{reviewSizeY,jdbcType=DECIMAL},
      </if>
      <if test="reviewPosX != null" >
        #{reviewPosX,jdbcType=DECIMAL},
      </if>
      <if test="reviewPosY != null" >
        #{reviewPosY,jdbcType=DECIMAL},
      </if>
      <if test="backgroundTheme != null" >
        #{backgroundTheme,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  
  <select id="countByExample" parameterType="model.vo.ComponentExample" resultType="java.lang.Integer" >
    select count(*) from HR.COMPONENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
  <update id="updateByExampleSelective" parameterType="map" >
    update HR.COMPONENT
    <set >
      <if test="record.etpNum != null" >
        ETP_NUM = #{record.etpNum,jdbcType=VARCHAR},
      </if>
      <if test="record.etpEmail != null" >
        ETP_EMAIL = #{record.etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.logoComponent != null" >
        LOGO = #{record.logoComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.logoTheme != null" >
        LOGO_THEME = #{record.logoTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.logoSizeX != null" >
        LOGO_SIZE_X = #{record.logoSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.logoSizeY != null" >
        LOGO_SIZE_Y = #{record.logoSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.logoPosX != null" >
        LOGO_POS_X = #{record.logoPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.logoPosY != null" >
        LOGO_POS_Y = #{record.logoPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.outlineComponenet != null" >
        OUTLINE = #{record.outlineComponenet,jdbcType=DECIMAL},
      </if>
      <if test="record.outlineTheme != null" >
        OUTLINE_THEME = #{record.outlineTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.outlineSizeX != null" >
        OUTLINE_SIZE_X = #{record.outlineSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.outlineSizeY != null" >
        OUTLINE_SIZE_Y = #{record.outlineSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.outlinePosX != null" >
        OUTLINE_POS_X = #{record.outlinePosX,jdbcType=DECIMAL},
      </if>
      <if test="record.outlinePosY != null" >
        OUTLINE_POS_Y = #{record.outlinePosY,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvMgmComponent != null" >
        RSV_MGM = #{record.rsvMgmComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvMgmTheme != null" >
        RSV_MGM_THEME = #{record.rsvMgmTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvMgmSizeX != null" >
        RSV_MGM_SIZE_X = #{record.rsvMgmSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvMgmSizeY != null" >
        RSV_MGM_SIZE_Y = #{record.rsvMgmSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvMgmPosX != null" >
        RSV_MGM_POS_X = #{record.rsvMgmPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvMgmPosY != null" >
        RSV_MGM_POS_Y = #{record.rsvMgmPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.miscSettingComponent != null" >
        MISC_SETTING = #{record.miscSettingComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.miscSettingTheme != null" >
        MISC_SETTING_THEME = #{record.miscSettingTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.miscSettingSizeX != null" >
        MISC_SETTING_SIZE_X = #{record.miscSettingSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.miscSettingSizeY != null" >
        MISC_SETTING_SIZE_Y = #{record.miscSettingSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.miscSettingPosX != null" >
        MISC_SETTING_POS_X = #{record.miscSettingPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.miscSettingPosY != null" >
        MISC_SETTING_POS_Y = #{record.miscSettingPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvBtnBarComponent != null" >
        RSV_BTN_BAR = #{record.rsvBtnBarComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvBtnBarTheme != null" >
        RSV_BTN_BAR_THEME = #{record.rsvBtnBarTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvBtnBarSizeX != null" >
        RSV_BTN_BAR_SIZE_X = #{record.rsvBtnBarSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvBtnBarSizeY != null" >
        RSV_BTN_BAR_SIZE_Y = #{record.rsvBtnBarSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvBtnBarPosX != null" >
        RSV_BTN_BAR_POS_X = #{record.rsvBtnBarPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.rsvBtnBarPosY != null" >
        RSV_BTN_BAR_POS_Y = #{record.rsvBtnBarPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.etpInfoComponent != null" >
        ETP_INFO = #{record.etpInfoComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.etpInfoTheme != null" >
        ETP_INFO_THEME = #{record.etpInfoTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.etpInfoSizeX != null" >
        ETP_INFO_SIZE_X = #{record.etpInfoSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.etpInfoSizeY != null" >
        ETP_INFO_SIZE_Y = #{record.etpInfoSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.etpInfoPosX != null" >
        ETP_INFO_POS_X = #{record.etpInfoPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.etpInfoPosY != null" >
        ETP_INFO_POS_Y = #{record.etpInfoPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.svcListComponent != null" >
        SVC_LIST = #{record.svcListComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.svcListTheme != null" >
        SVC_LIST_THEME = #{record.svcListTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.svcListSizeX != null" >
        SVC_LIST_SIZE_X = #{record.svcListSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.svcListSizeY != null" >
        SVC_LIST_SIZE_Y = #{record.svcListSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.svcListPosX != null" >
        SVC_LIST_POS_X = #{record.svcListPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.svcListPosY != null" >
        SVC_LIST_POS_Y = #{record.svcListPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.galleryComponent != null" >
        GALLERY = #{record.galleryComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.galleryTheme != null" >
        GALLERY_THEME = #{record.galleryTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.gallerySizeX != null" >
        GALLERY_SIZE_X = #{record.gallerySizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.gallerySizeY != null" >
        GALLERY_SIZE_Y = #{record.gallerySizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.galleryPosX != null" >
        GALLERY_POS_X = #{record.galleryPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.galleryPosY != null" >
        GALLERY_POS_Y = #{record.galleryPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.locationComponent != null" >
        LOCATION = #{record.locationComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.locationTheme != null" >
        LOCATION_THEME = #{record.locationTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.locationSizeX != null" >
        LOCATION_SIZE_X = #{record.locationSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.locationSizeY != null" >
        LOCATION_SIZE_Y = #{record.locationSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.locationPosX != null" >
        LOCATION_POS_X = #{record.locationPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.locationPosY != null" >
        LOCATION_POS_Y = #{record.locationPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewComponent != null" >
        REVIEW = #{record.reviewComponent,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewTheme != null" >
        REVIEW_THEME = #{record.reviewTheme,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewSizeX != null" >
        REVIEW_SIZE_X = #{record.reviewSizeX,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewSizeY != null" >
        REVIEW_SIZE_Y = #{record.reviewSizeY,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewPosX != null" >
        REVIEW_POS_X = #{record.reviewPosX,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewPosY != null" >
        REVIEW_POS_Y = #{record.reviewPosY,jdbcType=DECIMAL},
      </if>
      <if test="record.backgroundTheme != null" >
        BACKGROUND_THEME = #{record.backgroundTheme,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map" >
    update HR.COMPONENT
    set ETP_NUM = #{record.etpNum,jdbcType=VARCHAR},
      ETP_EMAIL = #{record.etpEmail,jdbcType=VARCHAR},
      LOGO = #{record.logoComponent,jdbcType=DECIMAL},
      LOGO_THEME = #{record.logoTheme,jdbcType=DECIMAL},
      LOGO_SIZE_X = #{record.logoSizeX,jdbcType=DECIMAL},
      LOGO_SIZE_Y = #{record.logoSizeY,jdbcType=DECIMAL},
      LOGO_POS_X = #{record.logoPosX,jdbcType=DECIMAL},
      LOGO_POS_Y = #{record.logoPosY,jdbcType=DECIMAL},
      OUTLINE = #{record.outlineComponenet,jdbcType=DECIMAL},
      OUTLINE_THEME = #{record.outlineTheme,jdbcType=DECIMAL},
      OUTLINE_SIZE_X = #{record.outlineSizeX,jdbcType=DECIMAL},
      OUTLINE_SIZE_Y = #{record.outlineSizeY,jdbcType=DECIMAL},
      OUTLINE_POS_X = #{record.outlinePosX,jdbcType=DECIMAL},
      OUTLINE_POS_Y = #{record.outlinePosY,jdbcType=DECIMAL},
      RSV_MGM = #{record.rsvMgmComponent,jdbcType=DECIMAL},
      RSV_MGM_THEME = #{record.rsvMgmTheme,jdbcType=DECIMAL},
      RSV_MGM_SIZE_X = #{record.rsvMgmSizeX,jdbcType=DECIMAL},
      RSV_MGM_SIZE_Y = #{record.rsvMgmSizeY,jdbcType=DECIMAL},
      RSV_MGM_POS_X = #{record.rsvMgmPosX,jdbcType=DECIMAL},
      RSV_MGM_POS_Y = #{record.rsvMgmPosY,jdbcType=DECIMAL},
      MISC_SETTING = #{record.miscSettingComponent,jdbcType=DECIMAL},
      MISC_SETTING_THEME = #{record.miscSettingTheme,jdbcType=DECIMAL},
      MISC_SETTING_SIZE_X = #{record.miscSettingSizeX,jdbcType=DECIMAL},
      MISC_SETTING_SIZE_Y = #{record.miscSettingSizeY,jdbcType=DECIMAL},
      MISC_SETTING_POS_X = #{record.miscSettingPosX,jdbcType=DECIMAL},
      MISC_SETTING_POS_Y = #{record.miscSettingPosY,jdbcType=DECIMAL},
      RSV_BTN_BAR = #{record.rsvBtnBarComponent,jdbcType=DECIMAL},
      RSV_BTN_BAR_THEME = #{record.rsvBtnBarTheme,jdbcType=DECIMAL},
      RSV_BTN_BAR_SIZE_X = #{record.rsvBtnBarSizeX,jdbcType=DECIMAL},
      RSV_BTN_BAR_SIZE_Y = #{record.rsvBtnBarSizeY,jdbcType=DECIMAL},
      RSV_BTN_BAR_POS_X = #{record.rsvBtnBarPosX,jdbcType=DECIMAL},
      RSV_BTN_BAR_POS_Y = #{record.rsvBtnBarPosY,jdbcType=DECIMAL},
      ETP_INFO = #{record.etpInfoComponent,jdbcType=DECIMAL},
      ETP_INFO_THEME = #{record.etpInfoTheme,jdbcType=DECIMAL},
      ETP_INFO_SIZE_X = #{record.etpInfoSizeX,jdbcType=DECIMAL},
      ETP_INFO_SIZE_Y = #{record.etpInfoSizeY,jdbcType=DECIMAL},
      ETP_INFO_POS_X = #{record.etpInfoPosX,jdbcType=DECIMAL},
      ETP_INFO_POS_Y = #{record.etpInfoPosY,jdbcType=DECIMAL},
      SVC_LIST = #{record.svcListComponent,jdbcType=DECIMAL},
      SVC_LIST_THEME = #{record.svcListTheme,jdbcType=DECIMAL},
      SVC_LIST_SIZE_X = #{record.svcListSizeX,jdbcType=DECIMAL},
      SVC_LIST_SIZE_Y = #{record.svcListSizeY,jdbcType=DECIMAL},
      SVC_LIST_POS_X = #{record.svcListPosX,jdbcType=DECIMAL},
      SVC_LIST_POS_Y = #{record.svcListPosY,jdbcType=DECIMAL},
      GALLERY = #{record.galleryComponent,jdbcType=DECIMAL},
      GALLERY_THEME = #{record.galleryTheme,jdbcType=DECIMAL},
      GALLERY_SIZE_X = #{record.gallerySizeX,jdbcType=DECIMAL},
      GALLERY_SIZE_Y = #{record.gallerySizeY,jdbcType=DECIMAL},
      GALLERY_POS_X = #{record.galleryPosX,jdbcType=DECIMAL},
      GALLERY_POS_Y = #{record.galleryPosY,jdbcType=DECIMAL},
      LOCATION = #{record.locationComponent,jdbcType=DECIMAL},
      LOCATION_THEME = #{record.locationTheme,jdbcType=DECIMAL},
      LOCATION_SIZE_X = #{record.locationSizeX,jdbcType=DECIMAL},
      LOCATION_SIZE_Y = #{record.locationSizeY,jdbcType=DECIMAL},
      LOCATION_POS_X = #{record.locationPosX,jdbcType=DECIMAL},
      LOCATION_POS_Y = #{record.locationPosY,jdbcType=DECIMAL},
      REVIEW = #{record.reviewComponent,jdbcType=DECIMAL},
      REVIEW_THEME = #{record.reviewTheme,jdbcType=DECIMAL},
      REVIEW_SIZE_X = #{record.reviewSizeX,jdbcType=DECIMAL},
      REVIEW_SIZE_Y = #{record.reviewSizeY,jdbcType=DECIMAL},
      REVIEW_POS_X = #{record.reviewPosX,jdbcType=DECIMAL},
      REVIEW_POS_Y = #{record.reviewPosY,jdbcType=DECIMAL},
      BACKGROUND_THEME = #{record.backgroundTheme,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="model.vo.Component" >
    update HR.COMPONENT
    <set >
      <if test="logoComponent != null" >
        LOGO = #{logoComponent,jdbcType=DECIMAL},
      </if>
      <if test="logoTheme != null" >
        LOGO_THEME = #{logoTheme,jdbcType=DECIMAL},
      </if>
      <if test="logoSizeX != null" >
        LOGO_SIZE_X = #{logoSizeX,jdbcType=DECIMAL},
      </if>
      <if test="logoSizeY != null" >
        LOGO_SIZE_Y = #{logoSizeY,jdbcType=DECIMAL},
      </if>
      <if test="logoPosX != null" >
        LOGO_POS_X = #{logoPosX,jdbcType=DECIMAL},
      </if>
      <if test="logoPosY != null" >
        LOGO_POS_Y = #{logoPosY,jdbcType=DECIMAL},
      </if>
      <if test="outlineComponenet != null" >
        OUTLINE = #{outlineComponenet,jdbcType=DECIMAL},
      </if>
      <if test="outlineTheme != null" >
        OUTLINE_THEME = #{outlineTheme,jdbcType=DECIMAL},
      </if>
      <if test="outlineSizeX != null" >
        OUTLINE_SIZE_X = #{outlineSizeX,jdbcType=DECIMAL},
      </if>
      <if test="outlineSizeY != null" >
        OUTLINE_SIZE_Y = #{outlineSizeY,jdbcType=DECIMAL},
      </if>
      <if test="outlinePosX != null" >
        OUTLINE_POS_X = #{outlinePosX,jdbcType=DECIMAL},
      </if>
      <if test="outlinePosY != null" >
        OUTLINE_POS_Y = #{outlinePosY,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmComponent != null" >
        RSV_MGM = #{rsvMgmComponent,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmTheme != null" >
        RSV_MGM_THEME = #{rsvMgmTheme,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmSizeX != null" >
        RSV_MGM_SIZE_X = #{rsvMgmSizeX,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmSizeY != null" >
        RSV_MGM_SIZE_Y = #{rsvMgmSizeY,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmPosX != null" >
        RSV_MGM_POS_X = #{rsvMgmPosX,jdbcType=DECIMAL},
      </if>
      <if test="rsvMgmPosY != null" >
        RSV_MGM_POS_Y = #{rsvMgmPosY,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingComponent != null" >
        MISC_SETTING = #{miscSettingComponent,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingTheme != null" >
        MISC_SETTING_THEME = #{miscSettingTheme,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingSizeX != null" >
        MISC_SETTING_SIZE_X = #{miscSettingSizeX,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingSizeY != null" >
        MISC_SETTING_SIZE_Y = #{miscSettingSizeY,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingPosX != null" >
        MISC_SETTING_POS_X = #{miscSettingPosX,jdbcType=DECIMAL},
      </if>
      <if test="miscSettingPosY != null" >
        MISC_SETTING_POS_Y = #{miscSettingPosY,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarComponent != null" >
        RSV_BTN_BAR = #{rsvBtnBarComponent,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarTheme != null" >
        RSV_BTN_BAR_THEME = #{rsvBtnBarTheme,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarSizeX != null" >
        RSV_BTN_BAR_SIZE_X = #{rsvBtnBarSizeX,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarSizeY != null" >
        RSV_BTN_BAR_SIZE_Y = #{rsvBtnBarSizeY,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarPosX != null" >
        RSV_BTN_BAR_POS_X = #{rsvBtnBarPosX,jdbcType=DECIMAL},
      </if>
      <if test="rsvBtnBarPosY != null" >
        RSV_BTN_BAR_POS_Y = #{rsvBtnBarPosY,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoComponent != null" >
        ETP_INFO = #{etpInfoComponent,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoTheme != null" >
        ETP_INFO_THEME = #{etpInfoTheme,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoSizeX != null" >
        ETP_INFO_SIZE_X = #{etpInfoSizeX,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoSizeY != null" >
        ETP_INFO_SIZE_Y = #{etpInfoSizeY,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoPosX != null" >
        ETP_INFO_POS_X = #{etpInfoPosX,jdbcType=DECIMAL},
      </if>
      <if test="etpInfoPosY != null" >
        ETP_INFO_POS_Y = #{etpInfoPosY,jdbcType=DECIMAL},
      </if>
      <if test="svcListComponent != null" >
        SVC_LIST = #{svcListComponent,jdbcType=DECIMAL},
      </if>
      <if test="svcListTheme != null" >
        SVC_LIST_THEME = #{svcListTheme,jdbcType=DECIMAL},
      </if>
      <if test="svcListSizeX != null" >
        SVC_LIST_SIZE_X = #{svcListSizeX,jdbcType=DECIMAL},
      </if>
      <if test="svcListSizeY != null" >
        SVC_LIST_SIZE_Y = #{svcListSizeY,jdbcType=DECIMAL},
      </if>
      <if test="svcListPosX != null" >
        SVC_LIST_POS_X = #{svcListPosX,jdbcType=DECIMAL},
      </if>
      <if test="svcListPosY != null" >
        SVC_LIST_POS_Y = #{svcListPosY,jdbcType=DECIMAL},
      </if>
      <if test="galleryComponent != null" >
        GALLERY = #{galleryComponent,jdbcType=DECIMAL},
      </if>
      <if test="galleryTheme != null" >
        GALLERY_THEME = #{galleryTheme,jdbcType=DECIMAL},
      </if>
      <if test="gallerySizeX != null" >
        GALLERY_SIZE_X = #{gallerySizeX,jdbcType=DECIMAL},
      </if>
      <if test="gallerySizeY != null" >
        GALLERY_SIZE_Y = #{gallerySizeY,jdbcType=DECIMAL},
      </if>
      <if test="galleryPosX != null" >
        GALLERY_POS_X = #{galleryPosX,jdbcType=DECIMAL},
      </if>
      <if test="galleryPosY != null" >
        GALLERY_POS_Y = #{galleryPosY,jdbcType=DECIMAL},
      </if>
      <if test="locationComponent != null" >
        LOCATION = #{locationComponent,jdbcType=DECIMAL},
      </if>
      <if test="locationTheme != null" >
        LOCATION_THEME = #{locationTheme,jdbcType=DECIMAL},
      </if>
      <if test="locationSizeX != null" >
        LOCATION_SIZE_X = #{locationSizeX,jdbcType=DECIMAL},
      </if>
      <if test="locationSizeY != null" >
        LOCATION_SIZE_Y = #{locationSizeY,jdbcType=DECIMAL},
      </if>
      <if test="locationPosX != null" >
        LOCATION_POS_X = #{locationPosX,jdbcType=DECIMAL},
      </if>
      <if test="locationPosY != null" >
        LOCATION_POS_Y = #{locationPosY,jdbcType=DECIMAL},
      </if>
      <if test="reviewComponent != null" >
        REVIEW = #{reviewComponent,jdbcType=DECIMAL},
      </if>
      <if test="reviewTheme != null" >
        REVIEW_THEME = #{reviewTheme,jdbcType=DECIMAL},
      </if>
      <if test="reviewSizeX != null" >
        REVIEW_SIZE_X = #{reviewSizeX,jdbcType=DECIMAL},
      </if>
      <if test="reviewSizeY != null" >
        REVIEW_SIZE_Y = #{reviewSizeY,jdbcType=DECIMAL},
      </if>
      <if test="reviewPosX != null" >
        REVIEW_POS_X = #{reviewPosX,jdbcType=DECIMAL},
      </if>
      <if test="reviewPosY != null" >
        REVIEW_POS_Y = #{reviewPosY,jdbcType=DECIMAL},
      </if>
      <if test="backgroundTheme != null" >
        BACKGROUND_THEME = #{backgroundTheme,jdbcType=DECIMAL},
      </if>
    </set>
    where ETP_NUM = #{etpNum,jdbcType=VARCHAR}
      and ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="model.vo.Component" >
    update HR.COMPONENT
    set LOGO = #{logoComponent,jdbcType=DECIMAL},
      LOGO_THEME = #{logoTheme,jdbcType=DECIMAL},
      LOGO_SIZE_X = #{logoSizeX,jdbcType=DECIMAL},
      LOGO_SIZE_Y = #{logoSizeY,jdbcType=DECIMAL},
      LOGO_POS_X = #{logoPosX,jdbcType=DECIMAL},
      LOGO_POS_Y = #{logoPosY,jdbcType=DECIMAL},
      OUTLINE = #{outlineComponenet,jdbcType=DECIMAL},
      OUTLINE_THEME = #{outlineTheme,jdbcType=DECIMAL},
      OUTLINE_SIZE_X = #{outlineSizeX,jdbcType=DECIMAL},
      OUTLINE_SIZE_Y = #{outlineSizeY,jdbcType=DECIMAL},
      OUTLINE_POS_X = #{outlinePosX,jdbcType=DECIMAL},
      OUTLINE_POS_Y = #{outlinePosY,jdbcType=DECIMAL},
      RSV_MGM = #{rsvMgmComponent,jdbcType=DECIMAL},
      RSV_MGM_THEME = #{rsvMgmTheme,jdbcType=DECIMAL},
      RSV_MGM_SIZE_X = #{rsvMgmSizeX,jdbcType=DECIMAL},
      RSV_MGM_SIZE_Y = #{rsvMgmSizeY,jdbcType=DECIMAL},
      RSV_MGM_POS_X = #{rsvMgmPosX,jdbcType=DECIMAL},
      RSV_MGM_POS_Y = #{rsvMgmPosY,jdbcType=DECIMAL},
      MISC_SETTING = #{miscSettingComponent,jdbcType=DECIMAL},
      MISC_SETTING_THEME = #{miscSettingTheme,jdbcType=DECIMAL},
      MISC_SETTING_SIZE_X = #{miscSettingSizeX,jdbcType=DECIMAL},
      MISC_SETTING_SIZE_Y = #{miscSettingSizeY,jdbcType=DECIMAL},
      MISC_SETTING_POS_X = #{miscSettingPosX,jdbcType=DECIMAL},
      MISC_SETTING_POS_Y = #{miscSettingPosY,jdbcType=DECIMAL},
      RSV_BTN_BAR = #{rsvBtnBarComponent,jdbcType=DECIMAL},
      RSV_BTN_BAR_THEME = #{rsvBtnBarTheme,jdbcType=DECIMAL},
      RSV_BTN_BAR_SIZE_X = #{rsvBtnBarSizeX,jdbcType=DECIMAL},
      RSV_BTN_BAR_SIZE_Y = #{rsvBtnBarSizeY,jdbcType=DECIMAL},
      RSV_BTN_BAR_POS_X = #{rsvBtnBarPosX,jdbcType=DECIMAL},
      RSV_BTN_BAR_POS_Y = #{rsvBtnBarPosY,jdbcType=DECIMAL},
      ETP_INFO = #{etpInfoComponent,jdbcType=DECIMAL},
      ETP_INFO_THEME = #{etpInfoTheme,jdbcType=DECIMAL},
      ETP_INFO_SIZE_X = #{etpInfoSizeX,jdbcType=DECIMAL},
      ETP_INFO_SIZE_Y = #{etpInfoSizeY,jdbcType=DECIMAL},
      ETP_INFO_POS_X = #{etpInfoPosX,jdbcType=DECIMAL},
      ETP_INFO_POS_Y = #{etpInfoPosY,jdbcType=DECIMAL},
      SVC_LIST = #{svcListComponent,jdbcType=DECIMAL},
      SVC_LIST_THEME = #{svcListTheme,jdbcType=DECIMAL},
      SVC_LIST_SIZE_X = #{svcListSizeX,jdbcType=DECIMAL},
      SVC_LIST_SIZE_Y = #{svcListSizeY,jdbcType=DECIMAL},
      SVC_LIST_POS_X = #{svcListPosX,jdbcType=DECIMAL},
      SVC_LIST_POS_Y = #{svcListPosY,jdbcType=DECIMAL},
      GALLERY = #{galleryComponent,jdbcType=DECIMAL},
      GALLERY_THEME = #{galleryTheme,jdbcType=DECIMAL},
      GALLERY_SIZE_X = #{gallerySizeX,jdbcType=DECIMAL},
      GALLERY_SIZE_Y = #{gallerySizeY,jdbcType=DECIMAL},
      GALLERY_POS_X = #{galleryPosX,jdbcType=DECIMAL},
      GALLERY_POS_Y = #{galleryPosY,jdbcType=DECIMAL},
      LOCATION = #{locationComponent,jdbcType=DECIMAL},
      LOCATION_THEME = #{locationTheme,jdbcType=DECIMAL},
      LOCATION_SIZE_X = #{locationSizeX,jdbcType=DECIMAL},
      LOCATION_SIZE_Y = #{locationSizeY,jdbcType=DECIMAL},
      LOCATION_POS_X = #{locationPosX,jdbcType=DECIMAL},
      LOCATION_POS_Y = #{locationPosY,jdbcType=DECIMAL},
      REVIEW = #{reviewComponent,jdbcType=DECIMAL},
      REVIEW_THEME = #{reviewTheme,jdbcType=DECIMAL},
      REVIEW_SIZE_X = #{reviewSizeX,jdbcType=DECIMAL},
      REVIEW_SIZE_Y = #{reviewSizeY,jdbcType=DECIMAL},
      REVIEW_POS_X = #{reviewPosX,jdbcType=DECIMAL},
      REVIEW_POS_Y = #{reviewPosY,jdbcType=DECIMAL},
      BACKGROUND_THEME = #{backgroundTheme,jdbcType=DECIMAL}
    where ETP_NUM = #{etpNum,jdbcType=VARCHAR}
      and ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR}
  </update>
  
  
  <cache />
  
  
  <select resultMap="BaseResultMap" parameterType="model.vo.ComponentExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.COMPONENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
</mapper>