<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.CustomerMapper" >
  <resultMap id="OneclickPaymentResultMap" type="model.vo.OneclickPayment" >
    <id column="CARD_NUM" property="cardNum" jdbcType="DECIMAL" />
    <result column="CST_EMAIL" property="cstEmail" jdbcType="VARCHAR" />
    <result column="CARD_TITLE" property="cardTitle" jdbcType="VARCHAR" />
    <result column="CARD_DIGIT" property="cardDigit" jdbcType="VARCHAR" />
    <result column="CARD_CVC" property="cardCvc" jdbcType="VARCHAR" />
    <result column="CARD_EXPIRE" property="cardExpire" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="PaymentRecordResultMap" type="model.vo.PaymentRecord" >
    <id column="PMT_NUM" property="pmtNum" jdbcType="DECIMAL" />
    <result column="RSV_NUM" property="rsvNum" jdbcType="DECIMAL" />
    <result column="PMT_TIME" property="pmtTime" jdbcType="DATE" typeHandler="model.mapper.typehandler.LocalDateTimeHandler" />
    <result column="PMT_AMOUNT" property="pmtAmount" jdbcType="DECIMAL" />
    
    <association property="service" javaType="Service" resultMap="ServiceResultMap"></association>
    <association property="reservation" javaType="Reservation" resultMap="ReservationResultMap"></association>
  </resultMap>
  
    <resultMap id="ServiceResultMap" type="model.vo.Service" >
    <id column="SVC_NUM" property="svcNum" jdbcType="DECIMAL" />
    <result column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <result column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="SVC_TITLE" property="svcTitle" jdbcType="VARCHAR" />
    <result column="SVC_CODE" property="svcCode" jdbcType="VARCHAR" />
    <result column="SVC_COST" property="svcCost" jdbcType="DECIMAL" />
    <result column="SVC_TIME" property="svcTime" jdbcType="VARCHAR" />
    <result column="SVC_DESCRIPTION" property="svcDescription" jdbcType="VARCHAR" />
    <result column="SVC_CATEGORY" property="svcCategory" jdbcType="VARCHAR" />
    <result column="SVC_SPECIALIZE" property="svcSpecialize" jdbcType="VARCHAR" />
  </resultMap>
  
    <!-- Reservation ResultMap -->
   <resultMap id="ReservationResultMap" type="model.vo.Reservation" >
    <id column="RSV_NUM" property="rsvNum" jdbcType="DECIMAL" />
    <result column="SVC_NUM" property="svcNum" jdbcType="DECIMAL" />
    <result column="CPN_NUM" property="cpnNum" jdbcType="DECIMAL" />
    <result column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <result column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="CST_EMAIL" property="cstEmail" jdbcType="VARCHAR" />
    <result column="RSV_START_DATE" property="rsvStartDate" jdbcType="DATE" typeHandler="model.mapper.typehandler.LocalDateTimeHandler" />
    <result column="RSV_END_DATE" property="rsvEndDate" jdbcType="DATE" typeHandler="model.mapper.typehandler.LocalDateTimeHandler" />
    <result column="RSV_STATUS" property="rsvStatus" jdbcType="DECIMAL" />
    <result column="RSV_GENDER" property="employeeGender" jdbcType="VARCHAR" />
    <result column="RSV_TITLE" property="rsvTitle" jdbcType="VARCHAR" />
    <result column="RSV_DESC" property="rsvDesc" jdbcType="VARCHAR"/>
    <result column="RSV_COST" property="rsvCost" jdbcType="DECIMAL"/>
  </resultMap>
  
  <!-- Review ResultMap -->
    <resultMap id="ReviewResultMap" type="model.vo.Review" >
    <id column="RVW_NUM" property="rvwNum" jdbcType="DECIMAL" />
    <result column="CST_EMAIL" property="cstEmail" jdbcType="VARCHAR" />
    <result column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <result column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="RVW_INPUT_DATE" property="rvwInputDate" jdbcType="DATE" typeHandler="model.mapper.typehandler.LocalDateTimeHandler" />
    <result column="RVW_CONTENT" property="rvwContent" jdbcType="VARCHAR" />
    <result column="CST_JOB" property="cstJob" jdbcType="VARCHAR" />
    <result column="RVW_HYGIENE" property="rvwHygiene" jdbcType="DECIMAL" />
    <result column="RVW_COMFORT" property="rvwComfort" jdbcType="DECIMAL" />
    <result column="RVW_TECHNIQUE" property="rvwTechnique" jdbcType="DECIMAL" />
    <result column="RVW_PRICE" property="rvwPrice" jdbcType="DECIMAL" />
    <result column="RVW_SERVICE" property="rvwService" jdbcType="DECIMAL" />
  </resultMap>
  
    <!--  NotificationResultMap -->
   <resultMap id="NotificationResultMap" type="model.vo.Notification" >
    <id column="NTF_NUM" property="ntfNum" jdbcType="DECIMAL" />
    <result column="RSV_NUM" property="rsvNum" jdbcType="DECIMAL" />
    <result column="CST_EMAIL" property="cstEmail" jdbcType="VARCHAR" />
    <result column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <result column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="NTF_MESSAGE" property="ntfMessage" jdbcType="VARCHAR" />
    <result column="NTF_TIME" property="ntfTime" jdbcType="DATE" typeHandler="model.mapper.typehandler.LocalDateTimeHandler" />
    <result column="NTF_READ" property="ntfRead" jdbcType="DECIMAL" />
  </resultMap>
  
  
    <resultMap id="CustomerResultMap" type="model.vo.Customer" >
    <id column="CST_EMAIL" property="cstEmail" jdbcType="VARCHAR" />
    <result column="CST_ADDRESS" property="cstAddress" jdbcType="VARCHAR" />
    <result column="CST_ZIPCODE" property="cstZipcode" jdbcType="VARCHAR" />
    <result column="CST_BIRTHDAY" property="cstBirthday" jdbcType="DATE" typeHandler="model.mapper.typehandler.LocalDateHandler" />
    <result column="CST_GENDER" property="cstGender" jdbcType="VARCHAR" />
    <result column="CST_ONECLICK" property="cstOneclick" jdbcType="DECIMAL" />
    
    <collection property="oneclickPayments" ofType="OneclickPayment" resultMap="OneclickPaymentResultMap" />
     <collection property="paymentRecords" ofType="PaymentRecord" resultMap="PaymentRecordResultMap" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.cstBirthdayCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=model.mapper.typehandler.LocalDateHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=model.mapper.typehandler.LocalDateHandler} and #{criterion.secondValue,typeHandler=model.mapper.typehandler.LocalDateHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=model.mapper.typehandler.LocalDateHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.cstBirthdayCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=model.mapper.typehandler.LocalDateHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=model.mapper.typehandler.LocalDateHandler} and #{criterion.secondValue,typeHandler=model.mapper.typehandler.LocalDateHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=model.mapper.typehandler.LocalDateHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CST_EMAIL, CST_ADDRESS, CST_ZIPCODE, CST_BIRTHDAY, CST_GENDER, CST_ONECLICK
  </sql>
  <select id="selectByExample" resultMap="CustomerResultMap" parameterType="model.vo.CustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="CustomerResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from HR.CUSTOMER
    where CST_EMAIL = #{cstEmail,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from HR.CUSTOMER
    where CST_EMAIL = #{cstEmail,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="model.vo.CustomerExample" >
    delete from HR.CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.vo.Customer" >
    insert into HR.CUSTOMER (CST_EMAIL, CST_ADDRESS, CST_ZIPCODE, 
      CST_BIRTHDAY, 
      CST_GENDER, CST_ONECLICK)
    values (#{cstEmail,jdbcType=VARCHAR}, #{cstAddress,jdbcType=VARCHAR}, #{cstZipcode,jdbcType=VARCHAR}, 
      #{cstBirthday,jdbcType=DATE,typeHandler=model.mapper.typehandler.LocalDateHandler}, 
      #{cstGender,jdbcType=VARCHAR}, #{cstOneclick,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="model.vo.Customer" >
    insert into HR.CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cstEmail != null" >
        CST_EMAIL,
      </if>
      <if test="cstAddress != null" >
        CST_ADDRESS,
      </if>
      <if test="cstZipcode != null" >
        CST_ZIPCODE,
      </if>
      <if test="cstBirthday != null" >
        CST_BIRTHDAY,
      </if>
      <if test="cstGender != null" >
        CST_GENDER,
      </if>
      <if test="cstOneclick != null" >
        CST_ONECLICK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cstEmail != null" >
        #{cstEmail,jdbcType=VARCHAR},
      </if>
      <if test="cstAddress != null" >
        #{cstAddress,jdbcType=VARCHAR},
      </if>
      <if test="cstZipcode != null" >
        #{cstZipcode,jdbcType=VARCHAR},
      </if>
      <if test="cstBirthday != null" >
        #{cstBirthday,jdbcType=DATE,typeHandler=model.mapper.typehandler.LocalDateHandler},
      </if>
      <if test="cstGender != null" >
        #{cstGender,jdbcType=VARCHAR},
      </if>
      <if test="cstOneclick != null" >
        #{cstOneclick,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.vo.CustomerExample" resultType="java.lang.Integer" >
    select count(*) from HR.CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HR.CUSTOMER
    <set >
      <if test="record.cstEmail != null" >
        CST_EMAIL = #{record.cstEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.cstAddress != null" >
        CST_ADDRESS = #{record.cstAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cstZipcode != null" >
        CST_ZIPCODE = #{record.cstZipcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cstBirthday != null" >
        CST_BIRTHDAY = #{record.cstBirthday,jdbcType=DATE,typeHandler=model.mapper.typehandler.LocalDateHandler},
      </if>
      <if test="record.cstGender != null" >
        CST_GENDER = #{record.cstGender,jdbcType=VARCHAR},
      </if>
      <if test="record.cstOneclick != null" >
        CST_ONECLICK = #{record.cstOneclick,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HR.CUSTOMER
    set CST_EMAIL = #{record.cstEmail,jdbcType=VARCHAR},
      CST_ADDRESS = #{record.cstAddress,jdbcType=VARCHAR},
      CST_ZIPCODE = #{record.cstZipcode,jdbcType=VARCHAR},
      CST_BIRTHDAY = #{record.cstBirthday,jdbcType=DATE,typeHandler=model.mapper.typehandler.LocalDateHandler},
      CST_GENDER = #{record.cstGender,jdbcType=VARCHAR},
      CST_ONECLICK = #{record.cstOneclick,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.vo.Customer" >
    update HR.CUSTOMER
    <set >
      <if test="cstAddress != null" >
        CST_ADDRESS = #{cstAddress,jdbcType=VARCHAR},
      </if>
      <if test="cstZipcode != null" >
        CST_ZIPCODE = #{cstZipcode,jdbcType=VARCHAR},
      </if>
      <if test="cstBirthday != null" >
        CST_BIRTHDAY = #{cstBirthday,jdbcType=DATE,typeHandler=model.mapper.typehandler.LocalDateHandler},
      </if>
      <if test="cstGender != null" >
        CST_GENDER = #{cstGender,jdbcType=VARCHAR},
      </if>
      <if test="cstOneclick != null" >
        CST_ONECLICK = #{cstOneclick,jdbcType=DECIMAL},
      </if>
    </set>
    where CST_EMAIL = #{cstEmail,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.vo.Customer" >
    update HR.CUSTOMER
    set CST_ADDRESS = #{cstAddress,jdbcType=VARCHAR},
      CST_ZIPCODE = #{cstZipcode,jdbcType=VARCHAR},
      CST_BIRTHDAY = #{cstBirthday,jdbcType=DATE,typeHandler=model.mapper.typehandler.LocalDateHandler},
      CST_GENDER = #{cstGender,jdbcType=VARCHAR},
      CST_ONECLICK = #{cstOneclick,jdbcType=DECIMAL}
    where CST_EMAIL = #{cstEmail,jdbcType=VARCHAR}
  </update>
  <cache />
  <select resultMap="CustomerResultMap" parameterType="model.vo.CustomerExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  	<insert id="insertPaymentRecord" parameterType="PaymentRecord">
		insert into payment_record values(payment_record_seq.nextval, #{rsvNum}, #{pmtTime}, #{pmtAmount})
	</insert>
	
	<update id="updatePaymentRecord" parameterType="PaymentRecord">
		update payment_record set pmt_amount = #{pmtAmount} where pmt_num =#{pmtNum}
	</update>
	
	<select id="retrievePaymentRecord" parameterType="Integer" resultMap="PaymentRecordResultMap">
		select * from payment_record where rsv_num = #{value}
	</select>
	
	<select id="retrievePaymentRecords" resultMap="PaymentRecordResultMap">
		select * from payment_record p, customer c, reservation r where p.rsv_num = r.rsv_num and c.cst_email = r.cst_email
	</select>
	

	<select id="reservationHistory" parameterType="String" resultMap="PaymentRecordResultMap">
		select p.pmt_num, r.RSV_NUM, s.SVC_TITLE, s.SVC_NUM, r.RSV_START_DATE, p.PMT_AMOUNT, r.CST_EMAIL from PAYMENT_RECORD p, RESERVATION r, SERVICE s where p.RSV_NUM=r.RSV_NUM and r.SVC_NUM=s.SVC_NUM and cst_email=#{loginEmail} order by r.RSV_START_DATE desc
		<!-- select r.RSV_NUM, s.SVC_TITLE from PAYMENT_RECORD p, RESERVATION r, SERVICE s where p.RSV_NUM=r.RSV_NUM and r.SVC_NUM=s.SVC_NUM and cst_email=#{loginEmail} order by r.RSV_START_DATE desc -->
	</select>


	<select id="insertCustomerEvaluation" parameterType="Review">
		insert into review values(REVIEW_SEQ.nextval,#{cstEmail},#{etpNum},#{etpEmail},sysdate,#{rvwContent},#{cstJob},#{rvwHygiene},#{rvwComfort},#{rvwTechnique},#{rvwPrice},#{rvwService})
	</select>
	
	<insert id="insertReservation" parameterType="Reservation">
		insert into reservation
		<trim prefix="(" suffix=")" suffixOverrides=",">
		rsv_num, svc_num,
		<if test="cpnNum != null">
		cpn_num,
		</if>
		etp_num, etp_email, cst_email, rsv_start_date, rsv_end_date, rsv_status,
		<if test="employeeGender != null">
		rsv_gender,
		</if>
		<if test="rsvTitle != null">
		rsv_title,
		</if>
		<if test="rsvDesc != null">
		rsv_desc,
		</if>
		<if test="rsvCost != null">
		rsv_cost,
		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		reservation_seq.nextval, #{svcNum},
		<if test="cpnNum != null">
		#{cpnNum},
		</if>
		#{etpNum}, #{etpEmail}, #{cstEmail}, #{rsvStartDate}, #{rsvEndDate}, #{rsvStatus},
		<if test="employeeGender != null">
		#{employeeGender},
		</if>
		<if test="rsvTitle != null">
		#{rsvTitle},
		</if>
		<if test="rsvDesc != null">
		#{rsvDesc},
		</if>
		<if test="rsvCost != null">
		#{rsvCost},
		</if>
		</trim>
	</insert>
	
	<insert id="insertCustomerNotification" parameterType="Notification">
		insert into notification values(notification_seq.nextval, #{rsvNum}, #{cstEmail}, #{etpNum}, #{etpEmail}, #{ntfMessage}, #{ntfTime}, #{ntfRead})
	</insert>
	
	<insert id="updatePeriodCustomerNotification" parameterType="Notification">
		insert into notification values(notification_seq.nextval, #{rsvNum}, #{cstEmail}, #{etpNum}, #{etpEmail}, #{ntfMessage}, #{ntfTime}, #{ntfRead})
	</insert>
	
	<delete id="deleteCustomerNotification" parameterType="Notification">
		insert into notification(ntf_num, cst_email, etp_num, etp_email, ntf_message, ntf_time, ntf_read) values(notification_seq.nextval, #{cstEmail}, #{etpNum}, #{etpEmail}, #{ntfMessage}, #{ntfTime}, #{ntfRead})
	</delete>
	
	<select id="retrieveCustomerNotificationList" parameterType="string" resultMap="NotificationResultMap">
		select * from notification where cst_email = #{value} and ntf_read = 0 order by ntf_time desc
	</select>
	
	<select id="retrieveCustomerNotificationListAll" parameterType="string" resultMap="NotificationResultMap">
		select * from notification where cst_email = #{value} order by ntf_time desc
	</select>
	
	<update id="readCustomerNotification" parameterType="int">
		update notification set ntf_read = 1 where ntf_num= #{value}
	</update>
</mapper>