<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.ReservationMapper" >
  <resultMap id="BaseResultMap" type="model.vo.Reservation" >
    <id column="RSV_NUM" property="rsvNum" jdbcType="DECIMAL" />
    <result column="SVC_NUM" property="svcNum" jdbcType="DECIMAL" />
    <result column="CPN_NUM" property="cpnNum" jdbcType="DECIMAL" />
    <result column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <result column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="CST_EMAIL" property="cstEmail" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="GENDER" property="employeeGender" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RSV_NUM, SVC_NUM, CPN_NUM, ETP_NUM, ETP_EMAIL, CST_EMAIL, START_DATE, END_DATE, STATUS, 
    GENDER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.vo.ReservationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.RESERVATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from HR.RESERVATION
    where RSV_NUM = #{rsvNum,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from HR.RESERVATION
    where RSV_NUM = #{rsvNum,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="model.vo.ReservationExample" >
    delete from HR.RESERVATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.vo.Reservation" >
    insert into HR.RESERVATION (RSV_NUM, SVC_NUM, CPN_NUM, 
      ETP_NUM, ETP_EMAIL, CST_EMAIL, 
      START_DATE, END_DATE, STATUS, 
      GENDER)
    values (#{rsvNum,jdbcType=DECIMAL}, #{svcNum,jdbcType=DECIMAL}, #{cpnNum,jdbcType=DECIMAL}, 
      #{etpNum,jdbcType=VARCHAR}, #{etpEmail,jdbcType=VARCHAR}, #{cstEmail,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{status,jdbcType=DECIMAL}, 
      #{employeeGender,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.vo.Reservation" >
    insert into HR.RESERVATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rsvNum != null" >
        RSV_NUM,
      </if>
      <if test="svcNum != null" >
        SVC_NUM,
      </if>
      <if test="cpnNum != null" >
        CPN_NUM,
      </if>
      <if test="etpNum != null" >
        ETP_NUM,
      </if>
      <if test="etpEmail != null" >
        ETP_EMAIL,
      </if>
      <if test="cstEmail != null" >
        CST_EMAIL,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      GENDER,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rsvNum != null" >
        #{rsvNum,jdbcType=DECIMAL},
      </if>
      <if test="svcNum != null" >
        #{svcNum,jdbcType=DECIMAL},
      </if>
      <if test="cpnNum != null" >
        #{cpnNum,jdbcType=DECIMAL},
      </if>
      <if test="etpNum != null" >
        #{etpNum,jdbcType=VARCHAR},
      </if>
      <if test="etpEmail != null" >
        #{etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="cstEmail != null" >
        #{cstEmail,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      #{employeeGender,jdbcType=VARCHAR},
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.vo.ReservationExample" resultType="java.lang.Integer" >
    select count(*) from HR.RESERVATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HR.RESERVATION
    <set >
      <if test="record.rsvNum != null" >
        RSV_NUM = #{record.rsvNum,jdbcType=DECIMAL},
      </if>
      <if test="record.svcNum != null" >
        SVC_NUM = #{record.svcNum,jdbcType=DECIMAL},
      </if>
      <if test="record.cpnNum != null" >
        CPN_NUM = #{record.cpnNum,jdbcType=DECIMAL},
      </if>
      <if test="record.etpNum != null" >
        ETP_NUM = #{record.etpNum,jdbcType=VARCHAR},
      </if>
      <if test="record.etpEmail != null" >
        ETP_EMAIL = #{record.etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.cstEmail != null" >
        CST_EMAIL = #{record.cstEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.employeeGender != null" >
        GENDER = #{record.employeeGender,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HR.RESERVATION
    set RSV_NUM = #{record.rsvNum,jdbcType=DECIMAL},
      SVC_NUM = #{record.svcNum,jdbcType=DECIMAL},
      CPN_NUM = #{record.cpnNum,jdbcType=DECIMAL},
      ETP_NUM = #{record.etpNum,jdbcType=VARCHAR},
      ETP_EMAIL = #{record.etpEmail,jdbcType=VARCHAR},
      CST_EMAIL = #{record.cstEmail,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=DATE},
      END_DATE = #{record.endDate,jdbcType=DATE},
      STATUS = #{record.status,jdbcType=DECIMAL},
      GENDER = #{record.employeeGender,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.vo.Reservation" >
    update HR.RESERVATION
    <set >
      <if test="svcNum != null" >
        SVC_NUM = #{svcNum,jdbcType=DECIMAL},
      </if>
      <if test="cpnNum != null" >
        CPN_NUM = #{cpnNum,jdbcType=DECIMAL},
      </if>
      <if test="etpNum != null" >
        ETP_NUM = #{etpNum,jdbcType=VARCHAR},
      </if>
      <if test="etpEmail != null" >
        ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="cstEmail != null" >
        CST_EMAIL = #{cstEmail,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="employeeGender != null" >
        GENDER = #{employeeGender,jdbcType=VARCHAR},
      </if>
    </set>
    where RSV_NUM = #{rsvNum,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.vo.Reservation" >
    update HR.RESERVATION
    set SVC_NUM = #{svcNum,jdbcType=DECIMAL},
      CPN_NUM = #{cpnNum,jdbcType=DECIMAL},
      ETP_NUM = #{etpNum,jdbcType=VARCHAR},
      ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR},
      CST_EMAIL = #{cstEmail,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      STATUS = #{status,jdbcType=DECIMAL},
      GENDER = #{employeeGender,jdbcType=VARCHAR}
    where RSV_NUM = #{rsvNum,jdbcType=DECIMAL}
  </update>
  <cache />
  <select resultMap="BaseResultMap" parameterType="model.vo.ReservationExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.RESERVATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>