<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="model.mapper.ServiceMapper" >
  <resultMap id="ServiceResultMap" type="model.vo.Service" >
    <id column="SVC_NUM" property="svcNum" jdbcType="DECIMAL" />
    <result column="ETP_NUM" property="etpNum" jdbcType="VARCHAR" />
    <result column="ETP_EMAIL" property="etpEmail" jdbcType="VARCHAR" />
    <result column="SVC_TITLE" property="svcTitle" jdbcType="VARCHAR" />
    <result column="SVC_CODE" property="svcCode" jdbcType="VARCHAR" />
    <result column="SVC_COST" property="svcCost" jdbcType="DECIMAL" />
    <result column="SVC_TIME" property="svcTime" jdbcType="VARCHAR" />
    <result column="SVC_DESCRIPTION" property="svcDescription" jdbcType="VARCHAR" />
    <result column="SVC_CATEGORY" property="svcCategory" jdbcType="VARCHAR" />
    <result column="SVC_SPECIALIZE" property="svcSpecialize" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SVC_NUM, ETP_NUM, ETP_EMAIL, SVC_TITLE, SVC_COST, SVC_TIME, SVC_DESCRIPTION, 
    SVC_CATEGORY, SVC_SPECIALIZE
  </sql>
  <select id="selectByExample" resultMap="ServiceResultMap" parameterType="model.vo.ServiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.SERVICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ServiceResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from HR.SERVICE
    where SVC_NUM = #{svcNum,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from HR.SERVICE
    where SVC_NUM = #{svcNum,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="model.vo.ServiceExample" >
    delete from HR.SERVICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.vo.Service" >
    insert into HR.SERVICE (
    	SVC_NUM, ETP_NUM, ETP_EMAIL, 
      SVC_TITLE, SVC_COST, 
      SVC_TIME, SVC_CATEGORY, 
      SVC_SPECIALIZE)
    values (service_seq.nexval, #{etpNum,jdbcType=VARCHAR}, #{etpEmail,jdbcType=VARCHAR}, 
      #{svcTitle,jdbcType=VARCHAR}, #{svcCost,jdbcType=DECIMAL}, 
      #{svcTime,jdbcType=VARCHAR}, #{svcCategory,jdbcType=VARCHAR}, 
      #{svcSpecialize,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.vo.Service" >
    insert into HR.SERVICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="svcNum != null" >
        SVC_NUM,
      </if>
      <if test="etpNum != null" >
        ETP_NUM,
      </if>
      <if test="etpEmail != null" >
        ETP_EMAIL,
      </if>
      <if test="svcTitle != null" >
        SVC_TITLE,
      </if>
      <if test="svcCost != null" >
        SVC_COST,
      </if>
      <if test="svcTime != null" >
        SVC_TIME,
      </if>
      <if test="svcDescription != null" >
        SVC_DESCRIPTION,
      </if>
      <if test="svcCategory != null" >
        SVC_CATEGORY,
      </if>
      <if test="svcSpecialize != null" >
        SVC_SPECIALIZE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="svcNum != null" >
        #{svcNum,jdbcType=DECIMAL},
      </if>
      <if test="etpNum != null" >
        #{etpNum,jdbcType=VARCHAR},
      </if>
      <if test="etpEmail != null" >
        #{etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="svcTitle != null" >
        #{svcTitle,jdbcType=VARCHAR},
      </if>
      <if test="svcCost != null" >
        #{svcCost,jdbcType=DECIMAL},
      </if>
      <if test="svcTime != null" >
        #{svcTime,jdbcType=VARCHAR},
      </if>
      <if test="svcDescription != null" >
        #{svcDescription,jdbcType=VARCHAR},
      </if>
      <if test="svcCategory != null" >
        #{svcCategory,jdbcType=VARCHAR},
      </if>
      <if test="svcSpecialize != null" >
        #{svcSpecialize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.vo.ServiceExample" resultType="java.lang.Integer" >
    select count(*) from HR.SERVICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HR.SERVICE
    <set >
      <if test="record.svcNum != null" >
        SVC_NUM = #{record.svcNum,jdbcType=DECIMAL},
      </if>
      <if test="record.etpNum != null" >
        ETP_NUM = #{record.etpNum,jdbcType=VARCHAR},
      </if>
      <if test="record.etpEmail != null" >
        ETP_EMAIL = #{record.etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.svcTitle != null" >
        SVC_TITLE = #{record.svcTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.svcCost != null" >
        SVC_COST = #{record.svcCost,jdbcType=DECIMAL},
      </if>
      <if test="record.svcTime != null" >
        SVC_TIME = #{record.svcTime,jdbcType=VARCHAR},
      </if>
      <if test="record.svcDescription != null" >
        SVC_DESCRIPTION = #{record.svcDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.svcCategory != null" >
        SVC_CATEGORY = #{record.svcCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.svcSpecialize != null" >
        SVC_SPECIALIZE = #{record.svcSpecialize,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HR.SERVICE
    set SVC_NUM = #{record.svcNum,jdbcType=DECIMAL},
      ETP_NUM = #{record.etpNum,jdbcType=VARCHAR},
      ETP_EMAIL = #{record.etpEmail,jdbcType=VARCHAR},
      SVC_TITLE = #{record.svcTitle,jdbcType=VARCHAR},
      SVC_COST = #{record.svcCost,jdbcType=DECIMAL},
      SVC_TIME = #{record.svcTime,jdbcType=VARCHAR},
      SVC_CATEGORY = #{record.svcCategory,jdbcType=VARCHAR},
      SVC_SPECIALIZE = #{record.svcSpecialize,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.vo.Service" >
    update HR.SERVICE
    <set >
      <if test="etpNum != null" >
        ETP_NUM = #{etpNum,jdbcType=VARCHAR},
      </if>
      <if test="etpEmail != null" >
        ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR},
      </if>
      <if test="svcTitle != null" >
        SVC_TITLE = #{svcTitle,jdbcType=VARCHAR},
      </if>
      <if test="svcCost != null" >
        SVC_COST = #{svcCost,jdbcType=DECIMAL},
      </if>
      <if test="svcTime != null" >
        SVC_TIME = #{svcTime,jdbcType=VARCHAR},
      </if>
      <if test="svcDescription != null" >
        SVC_DESCRIPTION = #{svcDescription,jdbcType=VARCHAR},
      </if>
      <if test="svcCategory != null" >
        SVC_CATEGORY = #{svcCategory,jdbcType=VARCHAR},
      </if>
      <if test="svcSpecialize != null" >
        SVC_SPECIALIZE = #{svcSpecialize,jdbcType=VARCHAR},
      </if>
    </set>
    where SVC_NUM = #{svcNum,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.vo.Service" >
    update HR.SERVICE
    set ETP_NUM = #{etpNum,jdbcType=VARCHAR},
      ETP_EMAIL = #{etpEmail,jdbcType=VARCHAR},
      SVC_TITLE = #{svcTitle,jdbcType=VARCHAR},
      SVC_COST = #{svcCost,jdbcType=DECIMAL},
      SVC_TIME = #{svcTime,jdbcType=VARCHAR},
      SVC_DESCRIPTION = #{svcDescription,jdbcType=VARCHAR},
      SVC_CATEGORY = #{svcCategory,jdbcType=VARCHAR},
      SVC_SPECIALIZE = #{svcSpecialize,jdbcType=VARCHAR},
    where SVC_NUM = #{svcNum,jdbcType=DECIMAL}
  </update>
  <cache />
  <select resultMap="ServiceResultMap" parameterType="model.vo.ServiceExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HR.SERVICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="retrieveServices" parameterType="String" resultMap="ServiceResultMap">
  	select * from SERVICE where etp_num = #{value}
  </select>
</mapper>