<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />

	<typeAliases>
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="model.mapper.typehandler.InstantHandler"/>
		<typeHandler handler="model.mapper.typehandler.LocalDateHandler"/>
		<typeHandler handler="model.mapper.typehandler.LocalDateTimeHandler"/>
		<typeHandler handler="model.mapper.typehandler.LocalTimeHandler"/>
		<typeHandler handler="model.mapper.typehandler.OffsetDateTimeHandler"/>
		<typeHandler handler="model.mapper.typehandler.ZonedDateTimeHandler"/>
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="model/mapper/AdminMapper.xml"/>
		<mapper resource="model/mapper/CustomerMapper.xml"/>
		<mapper resource="model/mapper/EnterpriseMapper.xml"/>
		<mapper resource="model/mapper/MemberMapper.xml"/>
		<mapper resource="model/mapper/SearchMapper.xml"/>
	</mappers>
	
</configuration>
