<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />

	<typeAliases>
		<typeAlias type="model.vo.Component" alias="Component" />
		<typeAlias type="model.vo.ComponentExample" alias="ComponentExample" />
		<typeAlias type="model.vo.Coupon" alias="Coupon" />
		<typeAlias type="model.vo.CouponExample" alias="CouponExample" />
		<typeAlias type="model.vo.Customer" alias="Customer"/>
		<typeAlias type="model.vo.CustomerExample" alias="CustomerExample"/>
		<typeAlias type="model.vo.WorkingDays" alias="WorkingDays"/>
		<typeAlias type="model.vo.WorkingDaysExample" alias="WorkingDaysExample"/>
		<typeAlias type="model.vo.Enterprise" alias="Enterprise" />
		<typeAlias type="model.vo.EnterpriseExample" alias="EnterpriseExample" />
		<typeAlias type="model.vo.Holiday" alias="Holiday" />
		<typeAlias type="model.vo.HolidayExample" alias="HolidayExample" />
		<typeAlias type="model.vo.Member" alias="Member" />
		<typeAlias type="model.vo.MemberExample" alias="MemberExample" />
		<typeAlias type="model.vo.Notification" alias="Notification" />
		<typeAlias type="model.vo.NotificationExample" alias="NotificationExample" />
		<typeAlias type="model.vo.OneclickPayment" alias="OneclickPayment" />
		<typeAlias type="model.vo.OneclickPaymentExample" alias="OneclickPaymentExample" />
		<typeAlias type="model.vo.PaymentRecord" alias="PaymentRecord" />
		<typeAlias type="model.vo.PaymentRecordExample" alias="PaymentRecordExample" />
		<typeAlias type="model.vo.PhotoLocation" alias="PhotoLocation" />
		<typeAlias type="model.vo.PhotoLocationExample" alias="PhotoLocationExample" />
		<typeAlias type="model.vo.Reservation" alias="Reservation" />
		<typeAlias type="model.vo.ReservationExample" alias="ReservationExample" />
		<typeAlias type="model.vo.Review" alias="Review" />
		<typeAlias type="model.vo.ReviewExample" alias="ReviewExample" />
		<typeAlias type="model.vo.SaleRecord" alias="SaleRecord" />
		<typeAlias type="model.vo.SaleRecordExample" alias="SaleRecordExample" />
		<typeAlias type="model.vo.Service" alias="Service" />
		<typeAlias type="model.vo.ServiceExample" alias="ServiceExample" />
		<typeAlias type="model.vo.Unregistered" alias="Unregistered" />
		<typeAlias type="model.vo.UnregisteredExample" alias="UnregisteredExample" />
		<typeAlias type="model.vo.UnregisteredReservation" alias="UnregisteredReservation" />
		<typeAlias type="model.vo.UnregisteredReservationExample" alias="UnregisteredReservationExample" />
		<typeAlias type="model.vo.Waitlist" alias="Waitlist" />
		<typeAlias type="model.vo.WaitlistExample" alias="WaitlistExample" />
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="model.mapper.typehandler.InstantHandler"/>
		<typeHandler handler="model.mapper.typehandler.LocalDateHandler"/>
		<typeHandler handler="model.mapper.typehandler.LocalDateTimeHandler"/>
		<typeHandler handler="model.mapper.typehandler.LocalTimeHandler"/>
		<typeHandler handler="model.mapper.typehandler.OffsetDateTimeHandler"/>
		<typeHandler handler="model.mapper.typehandler.ZonedDateTimeHandler"/>
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="model/mapper/CustomerMapper.xml" />
		<mapper resource="model/mapper/EnterpriseMapper.xml" />
		<mapper resource="model/mapper/MemberMapper.xml" />
		<mapper resource="model/mapper/ReservationMapper.xml"/>
		<mapper resource="model/mapper/ServiceMapper.xml"/>
		<mapper resource="model/mapper/WaitlistMapper.xml"/>
		<mapper resource="model/mapper/UnregisteredMapper.xml"/>
	</mappers>
	
</configuration>
